broken/webService/wsServer/wsdl/BasicServiceService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://imie.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://imie.org/" version="1.0">
<xs:element name="executeService" type="tns:executeService"/>
<xs:element name="executeServiceResponse" type="tns:executeServiceResponse"/>
<xs:complexType name="executeService">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="executeServiceResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
